[Unit]
Description=my_kids_ai_test_bot
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/my_kids_ai_test_bot
ExecStart=/my_kids_ai_test_bot/env/bin/python /my_kids_ai_test_bot/bot.py
RestartSec=5
Restart=always
 
[Install]
WantedBy=multi-user.target